.ExperienceBox {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.ExperienceTitle {
  color: #ffe6ee;
  stroke: #ffe6ee;
  font-size: 250%;
}

.column {
  float: left;
  width: 30%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.picLogoBox {
  width: 100%;
  height: 100%;
}
